<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>GymLife</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/Style/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/Style/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/Style/css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="~/Style/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/Style/css/barfiller.css" type="text/css">
    <link rel="stylesheet" href="~/Style/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="~/Style/css/slicknav.min.css" type="text/css">
    <!-- Template Stylesheet -->
    <link rel="stylesheet" href="~/Style/css/login.css">
    <link rel="stylesheet" href="~/Style/css/style.css">
</head>

<body>
    @RenderBody()
    <!-- Navbar start -->
    <header class="header-section">
        @Html.Partial("_Header")
    </header>
    <!-- Navbar End -->

    <section class="login-section vh-100" style="background:url=(/Style/img/hero/hol4.jpg)" ;>
        <div class="center">
            <div class="container" style="margin-top: 29px;">
                <div class="text">
                    Login
                </div>
                <form action="#">
                    <div class="data">
                        <label>Username</label>
                        <input type="text" required>
                    </div>
                    <div class="data">
                        <label>Password</label>
                        <input type="password" required>
                    </div>
                    <div class="btn">
                        <div class="inner"></div>
                        <button type="submit">Login</button>
                    </div>
                    <div class="signup-link">
                        Not a member? <a href="@Url.Action("Register", "Register") ">Signup now</a>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <script src="~/Style/js/jquery-3.3.1.min.js"></script>
    <script src="~/Style/js/bootstrap.min.js"></script>
    <script src="~/Style/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Style/js/masonry.pkgd.min.js"></script>
    <script src="~/Style/js/jquery.barfiller.js"></script>
    <script src="~/Style/js/jquery.slicknav.js"></script>
    <script src="~/Style/js/owl.carousel.min.js"></script>
    <script src="~/Style/js/main.js"></script>
</body>
</html>

