
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Classes";
}
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="/Style/img/breadcrumb-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb-text">
                    <h2>Classes detail</h2>
                    <div class="bt-option">
                        <a href="./index.html">Home</a>
                        <a href="#">Classes</a>
                        <span>Body building</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Class Details Section Begin -->
<section class="class-details-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="class-details-text">
                    <div class="cd-pic">
                        <img src="~/Style/img/classes/class-details/class-detailsl.jpg" alt="">
                    </div>
                    <div class="cd-text">
                        <div class="cd-single-item">
                            <h3>Body buiding</h3>
                            <p>
                                The bodybuilding programs are designed to help you build muscle mass,
                                increase strength, and improve overall physique through scientifically
                                proven training methods. Whether you’re a beginner or an advanced athlete,
                                our expert coaches provide personalized guidance and motivation every step of the way.
                                Combining resistance training, proper nutrition, and recovery strategies, we ensure you
                                achieve sustainable and impressive results.
                            </p>
                        </div>
                        <div class="cd-single-item">
                            <h3>Trainer</h3>
                            <p>
                                Our trainers are highly skilled professionals dedicated to helping you reach your fitness goals safely and effectively.
                                With personalized coaching, motivational support, and expert knowledge, they tailor each workout to fit your unique needs
                                and abilities. Whether you’re aiming for weight loss, muscle gain, or overall wellness, our trainers guide you every step
                                of the way to ensure lasting success.
                            </p>
                        </div>
                    </div>
                    <div class="cd-trainer">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="cd-trainer-pic">
                                    <img src="~/Style/img/classes/class-details/trainer-profile.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="cd-trainer-text">
                                    <div class="trainer-title">
                                        <h4>Olivia Bennett</h4>
                                        <span>Fitness Instructor</span>
                                    </div>
                                    <div class="trainer-social">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                                        <a href="#"><i class="fa fa-instagram"></i></a>
                                        <a href="#"><i class="fa  fa-envelope-o"></i></a>
                                    </div>
                                    <p>
                                        Gym trainers combine expert knowledge with personalized attention to help you improve strength,
                                        endurance, and overall fitness. They design tailored workout plans, ensuring proper technique and steady
                                        progress in a supportive environment.
                                    </p>
                                    <ul class="trainer-info">
                                        <li><span>Age</span>35</li>
                                        <li><span>Weight</span>148lbs</li>
                                        <li><span>Height</span>10' 2``</li>
                                        <li><span>Occupation</span>no-founder</li>
                                    </ul>
                                    <p>
                                        Fitness instructors lead dynamic and engaging classes aimed at increasing energy levels
                                        and enhancing overall well-being. Expert guidance helps participants push their limits while
                                        maintaining proper technique and safety.


                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-8">
                <div class="sidebar-option">
                    <div class="so-categories">
                        <h5 class="title">Categories</h5>
                        <ul>
                            <li><p>Yoga </p></li>
                            <li><p>Runing </p></li>
                            <li><p>Weightloss </p></li>
                            <li><p>Cario </p></li>
                            <li><p>Body buiding </p></li>
                            <li><p>Nutrition </p></li>
                        </ul>
                    </div>
                    <div class="so-latest">
                        <h5 class="title">Latest posts</h5>
                        <div class="latest-large set-bg" data-setbg="/Style/img/letest-blog/latest-1.jpg">
                            <div class="ll-text">
                                <h5><a href="#">Boxing</a></h5>
                            </div>
                        </div>
                        <div class="latest-item">
                            <div class="li-pic">
                                <img src="~/Style/img/letest-blog/latest-2.jpg" alt="">
                            </div>
                            <div class="li-text">
                                <h6><a href="#">Simple Fitness Meal: Green Salad</a></h6>
                            </div>
                        </div>
                        <div class="latest-item">
                            <div class="li-pic">
                                <img src="~/Style/img/letest-blog/latest-3.jpg" alt="">
                            </div>
                            <div class="li-text">
                                <h6><a href="#">The $8 French Rosé I Buy in Bulk Every Summer</a></h6>
                            </div>
                        </div>
                        <div class="latest-item">
                            <div class="li-pic">
                                <img src="~/Style/img/letest-blog/latest-4.jpg" alt="">
                            </div>
                            <div class="li-text">
                                <h6><a href="#">Ina Garten's Skillet-Roasted Lemon Chicken</a></h6>
                            </div>
                        </div>
                        <div class="latest-item">
                            <div class="li-pic">
                                <img src="~/Style/img/letest-blog/latest-5.jpg" alt="">
                            </div>
                            <div class="li-text">
                                <h6><a href="#">The Best Weeknight Baked Potatoes, 3 Creative Ways</a></h6>
                            </div>
                        </div>
                    </div>
                    <div class="so-banner set-bg" data-setbg="/Style/img/sidebar-banner.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Class Details Section End -->
<!-- Class Timetable Section Begin -->
<section class="class-timetable-section class-details-timetable spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="class-details-timetable_title">
                    <h5>Classes timetable</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="class-timetable details-timetable">
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th>Monday</th>
                                <th>Tuesday</th>
                                <th>Wednesday</th>
                                <th>Thursday</th>
                                <th>Friday</th>
                                <th>Saturday</th>
                                <th>Sunday</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="class-time">6.00am - 8.00am</td>
                                <td class="dark-bg hover-dp ts-meta" data-tsmeta="workout">
                                    <h5>WEIGHT LOOSE</h5>
                                    <span>RLefew D. Loee</span>
                                </td>
                                <td class="hover-dp ts-meta" data-tsmeta="fitness">
                                    <h5>Cardio</h5>
                                    <span>RLefew D. Loee</span>
                                </td>
                                <td class="dark-bg hover-dp ts-meta" data-tsmeta="workout">
                                    <h5>Yoga</h5>
                                    <span>Keaf Shen</span>
                                </td>
                                <td class="hover-dp ts-meta" data-tsmeta="fitness">
                                    <h5>Fitness</h5>
                                    <span>Kimberly Stone</span>
                                </td>
                                <td class="dark-bg blank-td"></td>
                                <td class="hover-dp ts-meta" data-tsmeta="motivation">
                                    <h5>Boxing</h5>
                                    <span>Rachel Adam</span>
                                </td>
                                <td class="dark-bg hover-dp ts-meta" data-tsmeta="workout">
                                    <h5>Body Building</h5>
                                    <span>Robert Cage</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="class-time">10.00am - 12.00am</td>
                                <td class="blank-td"></td>
                                <td class="dark-bg hover-dp ts-meta" data-tsmeta="fitness">
                                    <h5>Fitness</h5>
                                    <span>Kimberly Stone</span>
                                </td>
                                <td class="hover-dp ts-meta" data-tsmeta="workout">
                                    <h5>WEIGHT LOOSE</h5>
                                    <span>RLefew D. Loee</span>
                                </td>
                                <td class="dark-bg hover-dp ts-meta" data-tsmeta="motivation">
                                    <h5>Cardio</h5>
                                    <span>RLefew D. Loee</span>
                                </td>
                                <td class="hover-dp ts-meta" data-tsmeta="workout">
                                    <h5>Body Building</h5>
                                    <span>Robert Cage</span>
                                </td>
                                <td class="dark-bg hover-dp ts-meta" data-tsmeta="motivation">
                                    <h5>Karate</h5>
                                    <span>Donald Grey</span>
                                </td>
                                <td class="blank-td"></td>
                            </tr>
                            <tr>
                                <td class="class-time">5.00pm - 7.00pm</td>
                                <td class="dark-bg hover-dp ts-meta" data-tsmeta="fitness">
                                    <h5>Boxing</h5>
                                    <span>Rachel Adam</span>
                                </td>
                                <td class="hover-dp ts-meta" data-tsmeta="motivation">
                                    <h5>Karate</h5>
                                    <span>Donald Grey</span>
                                </td>
                                <td class="dark-bg hover-dp ts-meta" data-tsmeta="workout">
                                    <h5>Body Building</h5>
                                    <span>Robert Cage</span>
                                </td>
                                <td class="blank-td"></td>
                                <td class="dark-bg hover-dp ts-meta" data-tsmeta="workout">
                                    <h5>Yoga</h5>
                                    <span>Keaf Shen</span>
                                </td>
                                <td class="hover-dp ts-meta" data-tsmeta="motivation">
                                    <h5>Cardio</h5>
                                    <span>RLefew D. Loee</span>
                                </td>
                                <td class="dark-bg hover-dp ts-meta" data-tsmeta="fitness">
                                    <h5>Fitness</h5>
                                    <span>Kimberly Stone</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="class-time">7.00pm - 9.00pm</td>
                                <td class="hover-dp ts-meta" data-tsmeta="motivation">
                                    <h5>Cardio</h5>
                                    <span>RLefew D. Loee</span>
                                </td>
                                <td class="dark-bg blank-td"></td>
                                <td class="hover-dp ts-meta" data-tsmeta="fitness">
                                    <h5>Boxing</h5>
                                    <span>Rachel Adam</span>
                                </td>
                                <td class="dark-bg hover-dp ts-meta" data-tsmeta="workout">
                                    <h5>Yoga</h5>
                                    <span>Keaf Shen</span>
                                </td>
                                <td class="hover-dp ts-meta" data-tsmeta="motivation">
                                    <h5>Karate</h5>
                                    <span>Donald Grey</span>
                                </td>
                                <td class="dark-bg hover-dp ts-meta" data-tsmeta="fitness">
                                    <h5>Boxing</h5>
                                    <span>Rachel Adam</span>
                                </td>
                                <td class="hover-dp ts-meta" data-tsmeta="workout">
                                    <h5>WEIGHT LOOSE</h5>
                                    <span>RLefew D. Loee</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Class Timetable Section End -->
<!-- Get In Touch Section Begin -->
<div class="gettouch-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="gt-text">
                    <i class="fa fa-map-marker"></i>
                    <p>333 Middle Winchendon Rd, Rindge,<br /> NH 03461</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="gt-text">
                    <i class="fa fa-mobile"></i>
                    <ul>
                        <li>125-711-811</li>
                        <li>125-668-886</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="gt-text email">
                    <i class="fa fa-envelope"></i>
                    <p>Support.gymcenter@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Get In Touch Section End -->
